.onboarding-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #52514a, #3498DB); /* Blue gradient background */
  color: white;
  text-align: center;
}

.onboarding-content {
  max-width: 600px;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1); /* Light background for content */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.onboarding-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
}

.onboarding-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.onboarding-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #f7f200; /* Accent color for text */
  background-color: white; /* White background for the button */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.onboarding-button:hover {
  background-color: #c3cece; /* Green background on hover */
  color: white; /* White text on hover */
  transform: scale(1.1); /* Slight scale effect */
}
